In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("RIRS_RP_KOT_W_WORKU.xlsb")
df

,ROK,MIESIAC,TYDZIEN,DZIEN,OMNICODE_ORDER,OMNICODE_BUNDLE,ID_RODZ_REALIZACJI,DATA_KONCA_PROCESU,MIESIAC_DORECZENIA,TYDZIEN_DORECZENIA,...,OPLATA_KURIER,OPLATA_POBRANIE,KWOTA_KAUCJI,LINK_Z_OFERTA,KOT_W_WORKU,NIP,FRAKCJA,CZY_SENIOR,BAZA,PESEL
0,2023,1,1,44928,OMNI0480369971,OMNI0480369971X1,PICKUP,44929.0,1.0,1.0,...,NaN,NaN,NaN,NaN,TAK,NaN,NaN,NaN,NaN,NaN
1,2023,1,1,44928,OMNI0480371293,OMNI0480371293X1,PICKUP,44929.0,NaN,NaN,...,NaN,NaN,NaN,NaN,TAK,NaN,MOBILE,NaN,NaN,NaN
2,2023,1,1,44928,OMNI0480371360,OMNI0480371360X1,PICKUP,44929.0,NaN,NaN,...,NaN,NaN,NaN,NaN,TAK,NaN,NaN,NaN,NaN,NaN
3,2023,1,1,44928,OMNI0480371360,OMNI0480371360X2,PICKUP,44929.0,NaN,NaN,...,NaN,NaN,NaN,NaN,TAK,NaN,NaN,NaN,NaN,NaN
4,2023,1,1,44928,OMNI0480371360,OMNI0480371360X3,PICKUP,44929.0,NaN,NaN,...,NaN,NaN,NaN,NaN,TAK,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117974,2024,6,26,45467,OMNI0715661965,OMNI0715661965X2,PICKUP,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,TAK,8.522571e+09,NaN,NaN,NaN,NaN
117975,2024,6,26,45467,OMNI0715676783,OMNI0715676783X1,PICKUP,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,TAK,NaN,NaN,NaN,NaN,NaN
117976,2024,6,26,45467,OMNI0715676847,OMNI0715676847X1,Paczkomat,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,TAK,NaN,NaN,NaN,NaN,NaN
117977,2024,6,26,45467,OMNI0715684324,OMNI0715684324X1,PICKUP,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,TAK,7.123474e+09,NaN,NaN,NaN,NaN
117978,2024,6,26,45467,OMNI0715703193,OMNI0715703193X1,Kurier,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,TAK,9.491943e+09,MOBILE,NaN,NaN,NaN

In [3]:
df.describe()

,ROK,MIESIAC,TYDZIEN,DZIEN,DATA_KONCA_PROCESU,MIESIAC_DORECZENIA,TYDZIEN_DORECZENIA,ID_OFERTY,ID_ANEKSU,STATUS_UMOWY,...,DATA_STATUS_SAP,KPI,FLAGA_RAID,OPLATA_NA_START,OPLATA_KURIER,OPLATA_POBRANIE,KWOTA_KAUCJI,NIP,BAZA,PESEL
count,117979.000000,117979.000000,117979.000000,117979.000000,116568.000000,88536.000000,88536.000000,1.179790e+05,69091.000000,0.0,...,8250.000000,89219.000000,0.0,0.0,0.0,0.0,0.0,2.346000e+03,0.0,0.0
mean,2023.342646,5.514346,22.152680,45203.156663,45204.839244,5.591996,22.633946,7.180605e+05,24.161917,NaN,...,45165.362439,2.636837,NaN,NaN,NaN,NaN,NaN,7.157116e+09,NaN,NaN
std,0.474596,3.414524,14.807596,157.015670,156.067071,3.401641,14.740022,9.771231e+05,1.319206,NaN,...,155.023706,2.195362,NaN,NaN,NaN,NaN,NaN,1.651580e+09,NaN,NaN
min,2023.000000,1.000000,1.000000,44928.000000,44929.000000,1.000000,1.000000,6.031000e+03,0.000000,NaN,...,44928.398090,0.000000,NaN,NaN,NaN,NaN,NaN,1.132039e+09,NaN,NaN
25%,2023.000000,3.000000,10.000000,45064.000000,45065.000000,3.000000,10.000000,7.795000e+03,24.000000,NaN,...,45015.510382,1.000000,NaN,NaN,NaN,NaN,NaN,6.062592e+09,NaN,NaN
50%,2023.000000,5.000000,19.000000,45210.000000,45212.000000,5.000000,20.000000,8.221000e+03,24.000000,NaN,...,45168.696291,2.000000,NaN,NaN,NaN,NaN,NaN,7.182015e+09,NaN,NaN
75%,2024.000000,8.000000,34.000000,45337.000000,45338.000000,8.000000,35.000000,2.161276e+06,24.000000,NaN,...,45294.777028,3.000000,NaN,NaN,NaN,NaN,NaN,8.513162e+09,NaN,NaN
max,2024.000000,12.000000,52.000000,45467.000000,45467.000000,12.000000,52.000000,2.542803e+06,36.000000,NaN,...,45467.858854,33.000000,NaN,NaN,NaN,NaN,NaN,9.970139e+09,NaN,NaN